<html>
<head>
  <style>
    body{
      margin-left: 500px;
      margin-top: 85px;
    }
    .form-group{
      width: 400px;
    }
    .makeborder{
      border: 2px solid lightgray;
      width: 500px;
      border-radius: 10px;
      padding: 45px;
      margin-bottom: 50px;
    }
    .submitborder{
      border-radius: 20px;
      width: 150px;
    }
    .submitborder:hover{
      background-color: black;
    }
  </style>
</head>
<body>


<%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "alert alert-danger", :style => "margin-right:500px;text-align:center;margin-left:100px;", :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>

<h2>Sign up</h2>

<div class="makeborder">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name, html: {multipart: true})) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field form-group">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar, class: "btn btn-warning" %>
  </div><br />
<div style="display:flex; flex-direction:row">
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-success btn-lg submitborder" %>
  </div>
<h1>OR</h1>
  <div class="actions">
    <%= link_to "log in", new_user_session_path, class: "btn btn-primary btn-lg submitborder" %>
  </div>
  </div>

<% end %>

</div>
</body>
</html>