<script>
  function timeSince(date) {

        var seconds = Math.floor((new Date() - new Date(date)) / 1000);
        var interval = Math.floor(seconds / 31557600);
        if (interval >= 1) {
            return interval + " years ago";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval >= 1) {
            return interval + " months ago";
        }
        interval = Math.floor(seconds / 86400);
        if (interval >= 1) {
            return interval + " days ago";
        }
        interval = Math.floor(seconds / 3600);
        if (interval >= 1) {
            return interval + " hours ago";
        }
        interval = Math.floor(seconds / 60);
        if (interval >= 1) {
            return interval + " minutes ago";
        }
        return "Less than a min ago";
    }

</script>

<div class="text-center">
  <h1 style="padding: 15px;">Notifications</h1>
  <hr>
</div>

<div class="container list" >
 <% @notifications.each do |notification| %>
    <div class='notif'> 
            <%= image_tag notification.from.avatar.url %>
            <p class='notif-name'>  <%= notification.from.name %>  </p> 
            <%if notification.notification_type === 1%>
              <p> added you as a friend </p>
            <% elsif notification.notification_type === 2%>
              <p> invited you to his order 
              <%if !notification.reacted%>
              <a href='/join/<%= notification.order_id %>'><button class='btn btn-success'>Join</button></a> <a href='/cancel/<%= notification.order_id %>' ><button class='btn btn-danger'>Cancel</button></a>
              <%end%>
            <% elsif notification.notification_type === 3%>
              <p>joined your <a href='/order/<%= notification.order_id %>'><button class='btn btn-info'>order</button></a>
            <%end%>
            <p class='notif-time'>  <%= notification.created_at %> </p> 
            </div>  <hr/>
  <%end%>
 </div>
