<h1>Friends</h1>

<div class="container d-flex flex-column align-items-center">

    <% flash.each do |type, msg| %>
        <div class="alert alert-info" role="alert">
            <%= msg %>
        </div>
    <% end %>
   
    <%= form_with scope: :email, :class=> "form-inline", local: true do |form| %>
          <%= form.label :Your_friend_email, :class=> "mr-3", :for => "inlineFormInputName2" %>
          <%= form.email_field :email, :class => 'form-control mb-2 mr-sm-2', :id=> "inlineFormInputName2", :required => "required" %>
          
          <%= form.submit :class=> "btn btn-primary mb-2", :value =>"Add Friend" %>
    <% end %>

    <div class="container d-flex flex-row flex-wrap align-items-center justify-content-center">
        <% if @friends != nil %>

        <% @friends.each do |friend| %>
            <div class="d-flex align-items-center justify-content-center">
                    <div class="card mb-3 mr-3" style="min-width: 200px;">
                        <div class="row no-gutters">
                            <div class="">
                                <div class="card-body">
                                    <h5 class="card-title"> <%= friend.name %></h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center ">
                                <%= button_to "Remove #{friend.name}?", 
                                friends_path(friend), 
                                class: "btn btn-danger btn-sm",
                                method: :delete,
                                data: { confirm: "Are you sure?" } %>
                            </div>
                        </div>
                    </div>

                </div>
            <% end %>

        <% else %>
            <h1>Your friend list is empty, Add freinds by thier email!</h1>
        <% end %>
    </div>
</div>
</div>