<div class='home-main-div'>
    <div class="col-md-5">
        <div class='div-head' style="margin-right:270px"><h3>Latest Orders</h3></div>
        <div class = "panel">
            <br>
            <table class="table table-striped table-hover" style="width:500px">
            <thead>
            </thead>
            <tbody>
            <% @user_orders.each do |order| %>
                <tr class="">
                <td>
                    <a href="<%= order_path(order) %>">Order</a> for <%= order.order_for %> on<%= order.created_at.strftime(" %d of %b at %I:%M %P") %>
                </td>
                </tr>
            <% end %>
            </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5">
      <div class='div-head' style="margin-right:300px"><h3>Friends Activity</h3></div>
      <div class="panel">
        <br>
        <table class="table table-striped table-hover" style="width:600px">
          <thead>
          </thead>
          <tbody id="f_activity">
            <% @friends_orders.each do |order| %>
              <tr class="">
                <td>
                <%= order.user.name %> has created an <%= link_to 'Order', order_path(order) %> for <%= order.order_for %> from <%= order.restaurant %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
